{
  "semi": true,
  "singleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^type$",
    "^node:",
    "^(react|next|@next)/",
    "^(@?\\w)",
    "^\\.\\.(?!/?$)",
    "^\\./(?=.*/)(?!/?$)",
    "^\\.(?!/?$)",
    "^@/(.*)$",
    "^\\u0000",
    "^.+\\.module\\.(css|scss)$",
    "^.+\\.(css|scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
