@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 0, 0%, 25%;
  }

  .dark {
    --background: 185, 45%, 17%;
    --foreground: 216, 11%, 82%;
  }
}

@layer base {
  :root {
    @apply text-foreground bg-background;
  }
}
